In [ ]:
import numpy as np
from sklearn.linear_model import LinearRegression
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.DataFrame([[2,3,4,6,4,40,5],[5,7,9,13,9,81,11]]).T
df.columns = ['Km rodados','Valor cobrado']

In [ ]:
display(df['Km rodados'].mean())
display(df['Valor cobrado'].mean())

9.142857142857142

19.285714285714285

In [ ]:
display(df['Km rodados'].iloc[0:5])

0    2
1    3
2    4
3    6
4    4
Name: Km rodados, dtype: int64

In [ ]:
X = df['Valor cobrado'].iloc[0:5]
display(X)

0     5
1     7
2     9
3    13
4     9
Name: Valor cobrado, dtype: int64